.ButtonRow {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-content: center;
    border-bottom: #00bcd4 solid 1px;
}

.ExeButton {
    width: 15vw;
    max-width: 60%;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    line-height: 48px;
    /* border-radius: 5px; */
    /* background-image: linear-gradient( 135deg, #F761A1 10%, rgb(182, 64, 214) 100%); */
    background-color: #2196f3;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 1vw;
    margin-right: 1vw;
    color: #f3f3f3;
    box-shadow: 0 3px 7px #3f3f3f;
    user-select: none;

    transition: all 0.1s linear;
}

.ExeButton:hover {
    box-shadow: 0 5px 15px #3f3f3f;
    transform: translateY(-1px);
}

.ExeButton:active {
    box-shadow: 0 1px 5px #3f3f3f;
    transform: translateY(1px);
}

.ExeStackPanel {
    box-shadow: 0 3px 7px #3f3f3f;
    background-color: #f3f3f3;
    margin: 1vmin;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;
    padding: 5px;
    max-height: 40em;
    width: 35vw;
    min-width: 35vw;
    max-width: 35vw;
    height: 70vh;
    overflow: auto;
    align-content: flex-start;

    transition: all 0.1s linear;
}

.ExeInfoPanel {
    /* background-image: linear-gradient( -90deg, rgb(255, 185, 100) 10%, #FCFF00 100%); */
    background-color: #b3e5fc;
    width: 90%;
    height: fit-content;
    padding: 10px;
    /* border-radius: 5px; */
    margin: 5px;
    box-shadow: 0 1px 2px #3f3f3f;
    font-family: 'SF mono', 'Courier New', monospace;
    overflow-x: auto;
    white-space: nowrap;

    transition: all 0.1s linear;
}

.ExeInfoPanel .EnvVar {
    text-align: left;
    color: lightseagreen;
}

.ExeFramePanel {
    /* background-image: linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%); */
    background-color: #b2ebf2;
    width: 90%;
    max-width: 90%;
    overflow-x: auto;
    height: fit-content;
    padding: 10px;
    /* border-radius: 5px; */
    margin: 5px;
    box-shadow: 0 1px 2px #3f3f3f;
    font-family: 'SF mono', 'Courier New', monospace;

    transition: all 0.1s linear;
}

.ExeExprBar {
    /* border-bottom: burlywood solid 1.5px; */
    border-bottom: #00bcd4 solid 1px;
    text-align: left;
    color: blue;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 0.5ex;

    transition: all 0.1s linear;
}

.ExeExprBar::before {
    content: "Expr->";
    color: gray;
    margin-right: 2ex;
    float: left;
}

.ExeEnvBar {
    display: grid;
    grid-template-columns: 2fr 1fr 5fr;

    transition: all 0.1s linear;
}

.EnvVar {
    text-align: right;
    color: rgb(8, 177, 8);

    transition: all 0.1s linear;
}

.EnvArrow {
    text-align: center;
    color: gray;

    transition: all 0.1s linear;
}

.EnvValue {
    color: rgb(16, 111, 253)
}
